//GLOBALS @todo: Move this to a top level import
$sm:  480px;
$med: 768px;
$lg:  1024px;

$tenup-blue: #6ab7b7;
$tenup-red:  #df2b26;
$dark-gray:  #303030;

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: $tenup-blue;
}

header {
  max-width: 1280px;
  margin: 0 auto;
}
//GLOBALS @todo: Move this to a top level import


.site-header {
  align-items: center;
  background: $dark-gray;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  position: relative;
}

.site-heading {
  line-height: 0;
  padding-right: 1rem;
}

.site-link {
  display: inline-block;
  line-height: 0;

  img {
    max-height: 48px;
  }
}

.site-navigation {
  flex: 1 0 auto;

  ul {
    list-style: none;
    padding: 0;
  }
}


.site-menu-toggle {
  float: right;

  @media (min-width: $med) {
    display: none;
  }
}

.primary-menu {
  background: $dark-gray;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  height: 100vh;
  right: 0;
  transform: translateX(100%);
  width: 0;

  @media (min-width: $med) {
    display: block;
    float: right;
    height: auto;
    overflow: visible;
    position: relative;
    top: 0;
    transform: translateX(0);
    width: auto;
  }

  &.is-active {
    width: auto;
    transform: translateX(0);
  }

  .menu-item {
    @media (min-width: $med) {
      display: inline-block;
      position: relative;
      text-align: left;
    }

    &.menu-item-has-children {
      > a {
        padding-right: 20px;
        position: relative;
        color: $tenup-blue;

        &:after {
          content: "";
          color: $tenup-blue;
          position: absolute;
          right: 0;
          top: calc(50% - 10px);
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Cpath fill='white' d='M256 352L96 198.406 141.72 160 256 275.188 370.28 160 416 198.406 256 352z'/%3E%3C/svg%3E ");
          background-size: cover;
          width: 20px;
          height: 20px;
        }
      }
    }

    &:hover,
    &:focus {
      .sub-menu {
        height: auto;
      }
    }

    a {
      display: block;
      padding: .75rem 1rem;
    }
  }

  .sub-menu {
    background-color: $dark-gray;
    height: 0;
    min-width: 100%;
    overflow: hidden;

    @media (min-width: $med) {
      position: absolute;

      .menu-item {
        display: block;
      }
    }

    &.hover {
      height: auto;
    }
  }
}