@custom-media --width-small (width < 30em);
@custom-media --width-medium (width >= 48em);
@custom-media --width-large (width >= 60em);
@custom-media --width-xlarge (width >= 80em);

.tab-list {
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
  white-space: nowrap;
}

.tab-item {
  display: inline-block;

	& > a {
		border: 1px solid #777;
		display: inline-block;
		padding: 5px 8px;
		text-decoration: none;

		@media ( --width-medium ) {
			padding: 10px 15px;
		}

		&:hover,
		&:focus {
			background: #ccc;
		}
	}

	&.is-active {

		& a {
			background: #fff;
			position: relative;
			z-index: 1;
			border-bottom-color: #fff;
		}
	}
}

.tab-group {
  border: 1px solid #777;
  margin-top: -1px;
}

.tab-content {
  padding: 15px;

	&[aria-hidden=true] {
		left: -999em;
		position: absolute;
		top: -999em;
	}

	&.is-active {
		position: static;
	}
}
