// Breakpoints
$bp-small:          40.625em !default;      // 650px
$bp-medium:         53.125em !default;      // 850px
$bp-large:          62.5em !default;        // 1000px

// Variables
$color-gray: #777 !default;
$color-gray-light: #ccc !default;
$color-white: #fff !default;

// Component Sass
.tab-list {
	list-style: none;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: relative;
	white-space: nowrap;
} // .tab-list

.tab-item {
	display: inline-block;

	> a {
		border: 1px solid $color-gray;
		display: inline-block;
		padding: 10px 15px;
		text-decoration: none;
		padding: 5px 8px;

		@media ( min-width: $bp-small ) {
			padding: 10px 15px;
		}

		&:hover,
		&:focus {
			background: $color-gray-light;
		}
	}

	&.is-active {
		a {
			background: $color-white;
			position: relative;
			z-index: 1;
			border-bottom-color: $color-white;
		}
	}

} // .tab-item

.tab-group {
	border: 1px solid $color-gray;
	margin-top: -1px;
} // .tab-group

.tab-content {
	padding: 15px;

	&[aria-hidden="true"] {
		left: -999em;
		position: absolute;
		top: -999em;
	}

	&.is-active {
		position: static;
	}
} // .tab-content
