// Breakpoints
$bp-small:          40.625em !default;      // 650px
$bp-medium:         53.125em !default;      // 850px
$bp-large:          62.5em !default;        // 1000px

// Variables
$gray: #999 !default;
$white: #fff !default;

// Component Sass
.tab-list {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	white-space: nowrap;

	@media ( max-width: $bp-medium ) {
		&:after {
			content: "☰";
			pointer-events: none;
			position: absolute;
			right: 10px;
			top: 10px;
			z-index: 2;
		}

		&.m-is-active {
			a {
				position: relative;
			}
		}
	}
} // .tab-list

.tab-item {
	display: block;

	@media ( min-width: $bp-medium ) {
		display: inline-block;
	}

	> a {
		border: 1px solid $gray;
		display: block;
		height: 100%;
		left: 0;
		padding: 10px 15px;
		position: absolute;
		text-decoration: none;
		top: 0;

		@media ( min-width: $bp-medium ) {
			position: relative;
			width: auto;
		}
	}

	&.is-active {
		a {
			background: $white;
			position: relative;
			z-index: 1;

			@media ( min-width: $bp-medium ) {
				border-bottom-color: $white;
			}
		}
	}

} // .tab-item

.tab-group {
	border: 1px solid $gray;
	margin-top: -1px;
}

.tab-content {
	padding: 15px;

	&[aria-hidden="true"] {
		left: -999em;
		position: absolute;
		top: -999em;
	}

	&.is-active {
		position: static;
	}
}
