# Sass
.sass-cache
.sass-cache/
.sass-cache/*
*.map
_local.yaml

# NPM
node_modules/

# Ignore docs files
_gh_pages
_site
.ruby-version
Gemfile.lock

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
*.zip
*.vi
*~

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
=======
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# Komodo
*.komodoproject
.komodotools

# Wordpress
.htaccess
wp-*.php
xmlrpc.php
wp-admin/
wp-includes/
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
sitemap.xml
sitemap.xml.gz
readme.html
license.txt

# Ignore docs files
_gh_pages
_site
.ruby-version
Gemfile.lock

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# Komodo
*.komodoproject
.komodotools

# grunt-html-validation
validation-status.json
validation-report.json
=======
# grunt-html-validation
validation-status.json
validation-report.json
