// Variables
$dark-gray:  #303030;

// Component Sass
.is-active-off-canvas {
  position: relative;
  overflow-x: hidden;
}

.site-header {
  align-items: center;
  background: $dark-gray;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  position: relative;
}

.site-heading {
  line-height: 0;
  padding-right: 1rem;
}

.site-link {
  display: inline-block;
  line-height: 0;

  img {
    max-height: 48px;
  }
}

.site-navigation {
  flex: 1 0 auto;

  ul {
    list-style: none;
    padding: 0;
  }
}

.site-menu-toggle {
  float: right;
}

.primary-menu {
  background: $dark-gray;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  height: 100vh;
  width: 0;

  .left & {
    left: 0;
  }

  .right & {
    right: 0;
  }

  &.is-active {
    width: auto;
  }

  .menu-item {

    &:hover,
    &:focus {
      .sub-menu {
        height: auto;
      }
    }

    a {
      display: block;
      padding: .75rem 1rem;
    }
  }

  .sub-menu {
    background-color: $dark-gray;
    min-width: 100%;
    display: block;

    &[aria-hidden="true"] {
      display: none;
    }

    &.hover {
      height: auto;
    }
  }
}
