// Variables
$gray: #999 !default;

// Component Sass
.is-active-off-canvas {
	overflow-x: hidden;
	position: relative;
}

.screen-reader-text {
	position: absolute;
	left: -999em;
}

.site-header {
	background: $gray;
	padding: .5rem;
	position: relative;

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}

}

.site-title {
	line-height: 0;
	margin: 0;
	padding: 0 1em 0 0;
	float: left;
}

.site-link {
	display: inline-block;
	line-height: 0;

	img {
		max-height: 48px;
	}
}

.site-navigation {
	float: right;

	ul {
		list-style: none;
		padding: 0;
	}
}

.site-menu-toggle {
	float: right;
	line-height: 40px;
	font-size: 20px;
	text-decoration: none;
	margin-right: 10px;
}

.primary-menu {
	background: $gray;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	position: absolute;
	top: 100%;
	width: 0;
	right: 0;

	.left & {
		left: 0;
	}

	.right & {
		right: 0;
	}

	&.is-active,
	&:target {
		width: auto;
	}

	.menu-item {

		&:hover,
		&:focus {
			.sub-menu {
				height: auto;
			}
		}

		a {
			display: block;
			padding: .75rem 1rem;
		}
	}

	.sub-menu {
		background-color: $gray;
		display: block;
		min-width: 100%;

		&[aria-hidden="true"] {
			display: none;
		}

		&.hover {
			height: auto;
		}
	}
}
