@custom-media --width-small (width < 30em);
@custom-media --width-medium (width >=48em);
@custom-media --width-large (width >=60em);
@custom-media --width-xlarge (width >=80em);

.accordion-header {
	border-bottom: 1px solid #303030;
	cursor: pointer;
	font-size: 2em;
	padding: 10px 0 10px 30px;
	position: relative;
	text-align: left;
	width: 100%;

	&:before {
		content: "+";
		left: 5px;
		position: absolute;
		top: 5px;
	}

	&.is-active:before {
		content: "-";
	}
}

.accordion-content {
	@nest .js & {
		display: none;

		&.is-active {
			border-bottom: 1px solid #303030;
			display: block;
		}
	}
}
