//GLOBALS @todo: Move this to a top level import
$bp-small:  600px;
$bp-medium: 800px;
$bg-large:  1000px;

$tenup-blue: #6ab7b7;
$tenup-red:  #df2b26;
$dark-gray:  #303030;

.author-card {
  max-width: 650px;
  padding: .5em;
  overflow: hidden;
  margin: auto;

  @media screen and (min-width: $bp-small) {
    padding: 1em;
  }

  &-author {
    margin: 0;
  }

  &-info {

    @media screen and (min-width: $bp-small) {
      display: inline-block;
      width: calc(100% - 120px);
      float: right;
    }

  }

  &-pic {
    padding-bottom: .5em;
    text-align: center;

    @media screen and (min-width: $bp-small) {
      display: inline-block;
      max-width: 100px;
      padding-bottom: 1em;
    }

    img {
      border-radius: 50%;
    }
  }
}