//GLOBALS @todo: Move this to a top level import
$sm:  480px;
$med: 768px;
$lg:  1024px;

$tenup-blue: #6ab7b7;
$tenup-red:  #df2b26;
$dark-gray:  #303030;

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: $tenup-blue;
}

header {
  max-width: 1280px;
  margin: 0 auto;
}
//GLOBALS @todo: Move this to a top level import

.author-card {
  border-bottom: 1px solid $dark-gray;
  border-top: 1px solid $dark-gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px auto;
  max-width: 650px;
  padding: 15px;

  @media (min-width: $med) {
    flex-wrap: nowrap;
  }

  &-author {
    font-size: 2em;
    margin: 0;
  }

  &-pic {
    padding-bottom: 15px;
    text-align: center;

    @media (min-width: $med) {
      flex: 1 0 25%;
    }

    img {
      border-radius: 50%;
    }
  }
}