<footer role="contentinfo" class="site-footer">
	<div class="footer-about-inner">

		<div class="cta">
			<p>
				Open source, MIT licensed.<br />
				Copyright {{ site.time | date: '%Y' }}
				<a href="https://twitter.com/10up">@10up</a>.
			</p>
			<div class="cta-careers">
				<p>Already doing all this?<br />
				<a href="http://10up.com/careers">Careers at 10up</a></p>
			</div>
		</div>


		<div class="logo">
			<a href="http://10up.com" class="footer-logo-link"><span class="screen-reader-text">10up</span></a>
		</div>

		<ul class="footer-social social-networks">
			<li><a href="http://twitter.com/10up" class="twitter"><span class="screen-reader-text">Twitter: @10up</span></a></li>
			<li><a href="http://github.com/10up" class="github"><span class="screen-reader-text">Github</span></a></li>
		</ul>

	</div>
</footer>
