<a href="#main-content" class="screen-reader-text focusable">Skip to content</a>
<header id="page-header" role="banner">
	<div class="page-header-content">
		<nav class="site-navigation" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">

			<a href="#primary-nav" aria-controls="primary-nav" class="site-menu-toggle toggle-menu-icon">
				<span class="screen-reader-text">Primary Menu</span>
			</a>

			<ul id="primary-nav" class="primary-menu">
				{% for category in site.data.categories %}
					{% if page.category == category.slug %}
					<li class="menu-item current-menu-item">
					{% else %}
					<li class="menu-item menu-item-has-children">
					{% endif %}
						<a href="#">{{ category.slug }}</a>
						<ul class="sub-menu">
						{% for component in site.component %}
							{% if component.category == category.slug %}
								<li class="menu-item"><a href="{{ site.baseurl }}{{ component.url }}">{{ component.title }}</a></li>
							{% endif %}
						{% endfor %}
						</ul>
					</li>
				{% endfor %}
			</ul>

		</nav><!-- .site-navigation -->

		<a href="http://10up.com" class="header-logo-link"><span class="screen-reader-text">10up</span></a>
		<a href="https://github.com/10up/component-library/" class="main-nav-supplemental-icon">
			<span class="screen-reader-text">View on Github</span>
		</a>

	</div>
</header>

<header class="template-header header">
	<div class="grid-inner">
		<h1>
			<a href="{{ site.baseurl }}/">{{ site.title }}</a><br>
			<span class="subhead">10up Engineering</span>
		</h1>
	</div>
</header>
