<header id="page-header" role="banner">
	<div class="page-header-content">
		<a href="http://10up.com" class="logo-link">10up</a>

		<a href="https://github.com/10up/component-library/" class="main-nav-supplemental-icon">
			<span class="screen-reader-text">View on Github</span>
		</a>
		<a class="toggle-menu-icon js-mobile-expandable-toggle">
			<span class="screen-reader-text">Toggle Main Navigation</span>
		</a>

	</div>
</header>

<header class="template-header header">
	<div class="grid-inner">
		<h1>
			<a href="{{ site.baseurl }}/">{{ site.title }}</a><br>
			<span class="subhead">10up Engineering</span>
		</h1>
	</div>
</header>
