<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Author Card</title>
  <link rel="stylesheet" href="author-card.css">
</head>
<body>
  <section class="author-card">
    <div class="author-card-pic">
      <img src="http://placehold.it/100x100" alt="">
    </div>
    <div class="author-card-info">
      <h2 class="author-card-author"><a rel="author" href="#" title="Posts by Webbie McWeberson">Webbie McWeberson</a></h2>
      <div class="author-card-bio">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cave putes quicquam esse verius. Si quidem, inquit, tollerem, sed relinquo. Haec para/doca illi, nos admirabilia dicamus. An vero, inquit, quisquam potest probare, quod perceptfum, quod. Idem iste, inquam, de voluptate quid sentit? Duo Reges: constructio interrete. An vero, inquit, quisquam potest probare, quod perceptfum, quod. Quodsi ipsam honestatem undique pertectam atque absolutam.</p>
      </div>
    </div>
  </section>
  <script src="author-card.js"></script>
</body>
</html>