<!DOCTYPE html>
<html lang="en-us">
  <head>

    <title>Person - Schema Markup</title>

    <!-- meta cluster -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cleartype" content="on" />

  </head>
  <body>

    <h1>A Person Using Microdata</h1>
    <p>This microdata will produce an address in google search results card.</p>

    <!--
      Microdata markup from: http://schema.org/address
      Notes:
        - REPLACE all example.com references
        - Set your own "name"
        - Add as many classes as you need
        - Change up the HTML to whatever semantics your project needs, the attrs are the important parts
        - Use Google's Data Structure tool to test your HTML: https://search.google.com/structured-data/testing-tool
    -->

    <h2>Person</h2>

    <div itemscope itemtype="http://schema.org/Person">

      <h3 itemprop="name">Bill Murray</h3>
      <img src="http://www.fillmurray.com/60/60" itemprop="image" alt="Photo of a young Bill Murray" />

      <p><strong>Title</strong>:
        <span itemprop="jobTitle">Professor</span>
      </p>

      <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <p><strong>Address</strong>:
          <span itemprop="streetAddress">35 Broad St</span>,
          <span itemprop="addressLocality">Red Bank</span>,
          <span itemprop="addressRegion"><abbr title="New Jersey">NJ</abbr></span>
          <span itemprop="postalCode">07701</span>
        </p>
      </div><!--/itemtype=PostalAddress-->

      <p>
        <strong>Phone</strong>:
        <a href="tel:+14251235678" itemprop="telephone">(425) 123-4567</a>
      </p>

      <p>
        <strong>Email</strong>:
        <a href="mailto:jane-doe@xyz.edu" itemprop="email">jane-doe@xyz.edu</a>
      </p>

      <p>
        <strong>Website</strong>:
        <a href="http://www.example.com" itemprop="url">janedoe.com</a>
      </p>

      <p>
        <strong>Colleagues</strong>:
        <a href="http://www.xyz.edu/students/alicejones.html" itemprop="colleague">Alice Jones</a>,
        <a href="http://www.xyz.edu/students/bobsmith.html" itemprop="colleague">Bob Smith</a>
      </p>

    </div><!--/itemtype=Person-->

  </body>
</html>