<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Datepicker</title>
  <link rel="stylesheet" href="vendor/pikaday.src.css">
  <link rel="stylesheet" href="datepicker.css">
</head>
  <body>

    <section class="datepicker">
      <label for="datepicker">Date:</label>
      <input type="text" id="datepicker">
    </section> <!-- //.datepicker -->

    <script type="text/javascript" src="vendor/pikaday.src.js"></script>
    <script type="text/javascript" src="datepicker.js"></script>
  </body>
</html>