<!DOCTYPE html>
<html lang="en-us">
  <head>

    <title>Accessible "Read More" Links - Schema Markup</title>

    <!-- meta cluster -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cleartype" content="on" />

    <!-- Embedded CSS is for demo purposes only -->
    <style>
      .content {
        max-width: 250px;
        margin: auto;
      }
    </style>

    <link href="readmore.css" rel="stylesheet" />

  </head>
  <body>

    <h1>Accessible "Read More" Links</h1>

    <!--
      Ideally your link text should be descriptive enough to stand alone.
      Links like "click here", "learn more", "continue reading", and "read more"
      are only helpful within the context of the content. but when screen readers
      extract all links from a page from easy navigation you end with a lot of
      links that don't say anything about where they go (very unhelpful, right?).

      However, if you MUST use a link that says, "read more," this is how you can
      do it in an accessible way.

      NOTE:
      With whatever class you use to hide the "read more" overflow text it's
      important to make sure you're not using display: none, because it will
      remove the content from screen readers, making this exercise kinda useless.

      FURTHER READING:
      1) https://accessibility.oit.ncsu.edu/blog/2012/01/12/accessible-read-more-links/
      2) https://silktide.com/i-thought-title-text-improved-accessibility-i-was-wrong/
      3) https://www.w3.org/TR/2012/NOTE-WCAG20-TECHS-20120103/C7
    -->

    <div class="content">
      <h2><a href="#!">An Interesting Article to Read</a></h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquet suscipit rhoncus. Donec ornare, dolor a dignissim pretium, arcu sapien pretium neque, non pharetra arcu magna nec turpis. <a href="#!">Read more <span class="hide-text">about an interesting article to read</span></a></p>

    </div><!--/.content-->

  </body>
</html>