<!DOCTYPE html>
<html lang="en-us">
  <head>

    <title>Accessible "Read More" Links - Schema Markup</title>

    <!-- meta cluster -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cleartype" content="on" />

    <!-- Embedded CSS is for demo purposes only -->
    <style>
      .content {
        max-width: 250px;
        margin: auto;
      }
    </style>

    <link href="readmore.css" rel="stylesheet" />

  </head>
  <body>

    <h1>Accessible "Read More" Links</h1>

    <div class="content">
      <h2><a href="#!">An Interesting Article to Read</a></h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquet suscipit rhoncus. Donec ornare, dolor a dignissim pretium, arcu sapien pretium neque, non pharetra arcu magna nec turpis. <a href="#!">Read more <span class="hide-text">about an interesting article to read</span></a></p>

    </div><!--/.content-->

  </body>
</html>