.site-footer {
	background-color: #141414;
	color: #f1f3f4;
	padding: 0 $guaranteed-edge-standoff;
	position: relative;

	.cta,
	.footer-social {
		flex-basis: 40%;
	}

	a,
	a:visited {
		color: #d1f2f0;
		border-bottom-color: #d1f2f0;
	}

	a:focus,
	a:hover,
	a:active {
		color: #fff;
		border-bottom-color: #fff;
	}
}

.footer-about-inner {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	padding: 30px 0;
	text-align: center;

	@include breakpoint($breakpoint-alpha) {
		flex-direction: row;
		padding: $guaranteed-edge-standoff 0;
		text-align: left;
	}
}

.footer-logo-link {
	display: none;
	@include breakpoint($breakpoint-alpha) {
		display: block;
		height: $header-logo-small;
		width: $header-logo-small;
		background: transparent url("../img/10up-logo-full.svg") no-repeat center;
		-webkit-background-size: contain;
		background-size: contain;
	}
	@include breakpoint($breakpoint-bravo) {
		height: $header-logo-large;
		width: $header-logo-large;
	}
}

.footer-social {
	@include inline-list();
	font-size: 1.6rem;
	margin: 0;
	text-align: right;

	li {
		margin-left: 1.5rem;
		&:first-of-type {
			margin-left: 0;
		}
	}

	a {
		align-items: center;
		background-color: #9aa0a6;
		border-radius: 100%;
		color: #141414;
		display: flex;
		height: 30px;
		justify-content: center;
		padding: 7px;
		width: 30px;

		&:visited {
			color: #141414;
		}

		&:focus,
		&:hover,
		&:active {
			background-color: #f1f3f4;
			color: #141414;
		}
	}
}
