#page-header {
	padding: 0 $guaranteed-edge-standoff;
	background: #303030;
	position: fixed;
	z-index: 9999;
	width: 100%;
	top: 0;

	body.admin-bar & {
		top: 46px;

		@include breakpoint($wpadminbar-narrow) {
			top: 32px;
		}
	}
}

.page-header-content {
	position: relative;
	height: 6rem;
}

.header-logo-link {
	position: absolute;
	bottom: -$header-logo-small-protrusion;
	left: 50%;
	margin-left: -$header-logo-small / 2;
	height: $header-logo-small;
	width: $header-logo-small;
	border-radius: 100%;
	z-index: 10; /* So that it overlays any expanded .top-nav */
	@extend %hide-text;
	background: #303030 url("../img/10up-logo-full.svg") no-repeat 46% 30%;
	-webkit-background-size: 50%;
	background-size: 50%;
	color: #fff;
	@include breakpoint($breakpoint-bravo) {
		margin-left: -$header-logo-large / 2;
		bottom: -$header-logo-large-protrusion;
		height: $header-logo-large;
		width: $header-logo-large;
		-webkit-background-size: 45%;
		background-size: 45%;
		background-position: 46% 50%;
	}

	&:visited {
		color: white;
	}
}

.toggle-menu-icon {
	@extend %menu-icon;
	@include icon('menu');
	display: block;
	font-size: 2rem;

	&:visited {
		color: white;
	}

	&:hover {
		color: $party-blue;
	}
}

.main-nav-supplemental-icon {
	@extend %menu-icon;
	@include icon('github');
	color: white;
	right: 2.5em;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;

	@include breakpoint($breakpoint-bravo) {
		top: 15px;
		right: 0;
	}

	&:visited {
		color: white;
	}

	&:hover {
		color: $party-blue;
	}
}

.page-header-content {
	li a,
	h1 a {
		display: block;
		padding: .8rem 0;
		font-size: 14px;
		font-weight: 400;
		color: $color-dark-text;

		@include breakpoint($breakpoint-bravo) {
			padding: 21px 0;
			font-size: 11px;
			position: relative;

			&:hover {
				text-decoration: none;
				&:after {
					bottom: 7px;
					@include opacity(1);
				}
			}
			&:after {
				content: "";
				width: 100%;
				height: 5px;
				background: $color-dark-text;
				position: absolute;
				bottom: 5px;
				left: 0;
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				@include opacity(0);
				@include transition(all, 80ms, ease-in);
			}

			@include breakpoint($breakpoint-charlie) {
				font-size: 12px;
				font-weight: 600;
			}
		}
	}
}
