<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Accordion</title>
  <link rel="stylesheet" href="accordion.css">
</head>
<body>
  <div class="accordion">
    <button class="accordion-header">Accordion Header</button>
    <div class="accordion-content">
      <h2>Accordion Heading</h2>
      <p>here the content of 1st tab <a href="#">link</a></p>
    </div>

    <button class="accordion-header">Accordion Header</button>
    <div class="accordion-content">
      <h2>Accordion Heading</h2>
      <p>here the content of 2nd tab <a href="#">link</a></p>
    </div>
    
    <button class="accordion-header">Accordion Header</button>
    <div class="accordion-content">
      <h2>Accordion Heading</h2>
      <p>here the content of 3rd tab <a href="#">link</a></p>
    </div>
    
    <button class="accordion-header">Accordion Header</button>
    <div class="accordion-content">
      <h2>Accordion Heading</h2>
      <p>here the content of 4th tab <a href="#">link</a></p>
    </div>
  </div>
  <script type="text/javascript" src="accordion.js"></script>
</body>
</html>