// Breakpoints
$bp-small:          40.625em !default;      // 650px
$bp-medium:         53.125em !default;      // 850px
$bp-large:          62.5em !default;        // 1000px

// Imports
@import 'flexbox-mixins';

// Bamespace, if you want it (update the HTML too though)
$ns: '' !default;

// Variables
$modal-overlay--bg:                 rgba(0, 0, 0, .666) !default;
$modal-overlay--padding:            1.5625em !default; // 25px

$modal--bg:                         #fff !default;

$modal--max-width:                  50em !default; // 800px
$modal--min-width:                  16.875em !default; // 270px
$modal--padding:                    2em !default; // 32px

$modal--z-index:                    99 !default;

$modal__close--size:                2em !default;
$modal__close--padding:             4px !default;
$modal__close--offset:              28px !default;

// Component Sass

// to prevent the document from scrolling in the background,
// we need these rules in place when a modal is open
.modal-is-open,
.modal-is-open body {
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;
}

//
.js .#{$ns}modal-overlay,
.js .#{$ns}a11y-modal {
	@include flexbox();
	box-sizing: border-box;
	background: $modal-overlay--bg;
	height: 100%;
	left: 0;
	opacity: 0;
	overflow: auto;
	padding: $modal-overlay--padding;
	position: fixed;
	top: 0;
	transition: opacity .2s ease-in-out;
	visibility: hidden;
	width: 100%;
	z-index: -1;

	&[aria-hidden="false"] {
		opacity: 1;
		visibility: visible;
		z-index: $modal--z-index;

		.#{$ns}modal {
			transform: scale(1) translateY(0px);
		}
	}
}

// the actual modal content block
.#{$ns}modal {
	box-sizing: border-box;
	background: $modal--bg;
	margin: auto;
	max-height: 90%;
	max-width: $modal--max-width;
	min-width: $modal--min-width;
	overflow: auto;
	overflow-x: hidden;
	padding: $modal--padding;
	position: relative;
	transform: scale(0.8) translateY(-30px);
	transition: transform .3s ease-in-out;
	width: 100%;

	&--full-width {
		max-width: 100%;
	}

	&--content-scroll {
		overflow: hidden;

		.#{$ns}modal__content {
			height: 300px;
			overflow: auto;
			transition: height .2s ease-in-out;

			@media screen and ( min-height: $bp-small ) {
				height: 400px;
			}

			@media screen and ( min-height: $bp-medium ) {
				height: 600px;
			}

			@media screen and ( min-height: $bp-large ) {
				height: 700px;
			}
		}
	}

}

.#{$ns}modal__outro {

	&__close {
		cursor: pointer;
		font-size: $modal__close--size;
		line-height: 1;
		padding: $modal__close--padding;
		position: absolute;
		right: $modal__close--offset;
		text-decoration: none;
		top: $modal__close--offset;
	}
}

// CSS for when there is no JavaScript
.no-js .no-js-hide-modal,
.no-js button[data-action='modal-open'] {
	display: none;
}

.no-js .no-js-hide-modal:target {
	display: block;
}
