.button {
	border: 2px solid $color-secondary;
	color: $color-secondary;
	cursor: pointer;
	display: block;
	font-size: $font-size-xsmall;
	letter-spacing: $letter-spacing-medium;
	padding: $spacing-tiny $spacing-small;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	width: 100%;

	@media (min-width: $breakpoint-small) {
		display: inline-block;
		width: auto;
	}

}

.button--secondary {
	border: 2px solid $color-base;
	color: $color-base;
}

.button--tertiary {
	background: transparent;
	border: 0;
	color: $color-secondary;
	font-size: $font-size-tiny;
	font-weight: $font-weight-medium;
	padding: $spacing-none;
	text-align: left;
}

.button--tertiary-dark {
	color: $color-primary;
}
