/*
 * Code
 */

code,
pre {
	font-family: "PT Mono", Menlo, "Courier New", monospace;
	font-size: .8em;
}

code {
	padding: .25em .5em;
	color: #005980;
	background-color: #efefef;
	border-radius: .2rem;
}

pre {
	display: block;
	line-height: 1.4;
	margin: 0 0 1rem;
	overflow: auto;
	white-space: pre;
	font-size: 1.6rem;
}

pre code {
	padding: 0;
	color: inherit;
	background-color: transparent;
	border: 0;
}

.highlight {
	margin: 0;
	font-size: 1.6rem;
}

.highlight pre {
	margin-bottom: 0;
}

.highlight + .highlight {
	margin-top: 1rem;
}

.highlight {
	background-color: #efefef;
	margin: 0 0 1rem;
	padding: 3rem .75rem .75rem .75rem;
	border-left: 20px solid #ddd;
	overflow-x: auto;
}

.code-tab,
.code-block {
	position: relative;
	div {
		clear: both;
	}
}

.copy-clipboard {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	min-width: 125px;
	padding: 5px 10px;
	border-radius: 0;
	background: $color-accent-alternate;
	color: $white;
	font-weight: bold;
	cursor: pointer;
	transition: all .2s;
	&:focus,
	&:hover {
		background-color: $color-medium-dark;
	}
}
