.component iframe {
	width: 100%;
	border: 0;
}

.component iframe.small {
	height: 100px;
}

.component iframe.medium {
	height: 250px;
}

.component iframe.large {
	height: 400px;
}

.component-tile {
	text-align: center;
}

.content .component-tile h3 {
	border-bottom: 0;
}
