.component {

	iframe {
		width: 100%;
		border: 20px solid $medium-grey;
		padding: 0;
		margin: 20px auto 0;
		display: block;
		max-width: calc(100vw - 45px);
		position: relative;
		transition: width linear .2s, transform linear .2s;

		@include breakpoint( $breakpoint-charlie ) {
			max-width: none;
		}

		&.h-small {
			height: 100px;
		}

		&.h-medium {
			height: 350px;
		}

		&.h-large {
			height: 550px;
		}

		&.w-iframe__small {
			width: 400px;
		}

		&.w-iframe__medium {
			width: 700px;
		}

		&.w-iframe__large {
			@include breakpoint( $breakpoint-charlie ) {
				width: 1000px;
				transform: translateX(-93px);
			}
		}

	}

	.example-link {
		float: right;
		border-bottom: 0;
		font-size: 18px;
		font-weight: 700;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	h3 {
		margin-top: 60px;

		> .link {
			font-size: 14px;
			float: right;
			line-height: 2.5;

			a {
				float: none;

				&:hover,
				&:focus {
					text-decoration: underline;
				}

			}
		}

	}

}

.tile-list {
	border-bottom: 0;
	margin: 20px 0 0;
	padding: 0;
	list-style: none;
	line-height: 1.8;
}

.tile-header {
	font-weight: 300;
	line-height: 1.5;

	@media screen and ( min-width: $breakpoint-alpha ) {
		font-size: 2.6rem;
		line-height: 1.3;
	}

}

.tile-icon,
.tile-heading {
	display: inline-block;
	vertical-align: top;

}

.tile-icon {
	margin-right: 15px;
}

.tile-heading {
	width: calc(100% - 75px);
}

.menu-rwd {
	margin-top: 10px;
	    padding: 10px;
    border: 1px solid #ccc;
	overflow: hidden;

	button {
		cursor: pointer;
		display: block;
		width: 25%;
		float: left;
		background: $cta-red;
		color: $white;
		border: 1px solid $white;
		padding: 10px;
		margin: 0;
		font-size: 1.2em;
		-webkit-font-smoothing: antialiased;
		text-transform: uppercase;

		&:last-child {
			background: none;
			color: $black;
			padding: 0 14px;
			margin: 10px 0;
			text-transform: none;

			&:hover,
			&:focus {
				background: none;
				font-weight: 700;
			}

		}

		&:hover,
		&:focus {
			background: $cta-red-dark;
			outline: 0;
		}

	}

}
