.component {

	iframe {
		width: 100%;
		border: 20px solid $medium-grey;
		padding: 0;
		margin: 20px 0 0;

		&.small {
			height: 100px;
		}

		&.medium {
			height: 250px;
		}

		&.large {
			height: 400px;
		}

	}

	h3 {
		margin-top: 60px;

		> a {
			font-size: 14px;
			float: right;
			line-height: 2.5;

			&:hover,
			&:focus {
				text-decoration: underline;
			}

		}

	}

}

.tile-list {
	border-bottom: 0;
	margin: 20px 0 0;
	padding: 0;
	list-style: none;
	line-height: 1.8;
}

.tile-header {
	font-weight: 300;
	line-height: 1.5;

	@media screen and ( min-width: $breakpoint-alpha ) {
		font-size: 2.6rem;
		line-height: 1.3;
	}

}

.tile-icon,
.tile-heading {
	display: inline-block;
	vertical-align: top;

}

.tile-icon {
	margin-right: 15px;
}

.tile-heading {
	width: calc(100% - 75px);
}
