.c-meta {
	padding: 0 1em 2.5em 2.5em;

	a {
		color: $color-accent;
		text-decoration: underline;

		&:hover,
		&:focus {
			text-decoration: none;
		}

	}

	p {
		color: $color-accent;
		margin: 0;
		font-size: $font-size-fine;
		line-height:1.4;
	}

	p:last-child{
		margin-top: 2em;
	}

	&__logo {
	  margin-bottom: .5em;
	}

}
