.c-nav {
	padding: 2.5em 1em 8em 2.5em;

	> ul {
		font-size: $font-size-tiny;
		letter-spacing: .03em;
		line-height: 1.5;
		list-style: none;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}

	li {
		margin-bottom: 1.2em;

		&:last-child {
		  margin:0;
		}
	}

	a {
		color: $color-base;

		&[aria-current="page"] {
			color: $color-tertiary;
		}

	}

	&__toggle {
		border-top: 1px solid $color-base;
		height: 16px;
		display: inline-block;
		margin-left: auto;
		position: relative;
		text-indent: -999em;
		width: 20px;

		&:before,
		&:after {
			content: "";
			border-top: 1px solid $color-base;
			position: absolute;
			right: 0;
			top: 50%;
			transition: all linear .15s;
			width: 20px;
		}

		&:before {
			top: 100%;
		}

		&:after {
			margin-top: -1px;
		}

		&[aria-expanded="true"] {
			border: 0;

			&:before {
				top: 50%;
				transform: rotate(45deg);
			}

			&:after {
				top: 50%;
				margin-top: 0;
				transform: rotate(-45deg);
			}
		}
	}

}

.subnav {
	border-left: 1px solid $color-accent-dark;
	font-size: $font-size-tiny;
	font-weight: $font-weight-regular;
	line-height: .85;
	list-style: none;
	margin: 1em 0 0 .5em;
	padding: 5px 10px;
	text-transform: none;
}
