@custom-media --width-small (width < 30em);
@custom-media --width-medium (width >= 48em);
@custom-media --width-large (width >= 60em);
@custom-media --width-xlarge (width >= 80em);

.TenUp__navigation__menu {
	list-style: none;
	margin: 0;
	padding: 0;

	&[aria-hidden="true"] {
		display: none;
	}

	&:target,
	&[aria-hidden="false"] {
		display: block;
	}
}

.TenUp__navigation__menu--main {

	& > .TenUp__navigation__menu-item {
		display: block;

		@media (--width-medium) {
			display: inline-block;
		}
	}
}

.TenUp__navigation__menu--submenu {

	@media (--width-medium) {
		left: 0;
		position: absolute;
		top: 100%;
	}

	& > .TenUp__navigation__menu-item {
		display: block;
	}
}

.TenUp__navigation__menu--hover {

	.TenUp__navigation__menu-item {

		&:hover {

			@media (--width-medium) {

				& > .TenUp__navigation__menu--submenu,
				& > .TenUp__navigation__menu--submenu[aria-hidden="true"] {
					display: block;
				}
			}
		}
	}
}

.TenUp__navigation__menu-toggle {

	&[aria-hidden="true"] {
		display: none;
	}

	&[aria-hidden="false"] {
		display: block;
	}
}

.TenUp__navigation__menu-item {

	@media (--width-medium) {
		position: relative;
	}
}

.no-js {

	& [data-responsive-nav-control] {

		@media (--width-medium) {
			display: none;
		}
	}

	& .primary-menu {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		@media (--width-medium) {
			display: block;
		}

		&:target {
			display: block;
		}

		& ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
		}

		& li {
			position: relative;

			&:hover,
			&:focus-within {

				& > ul {
					display: block;
				}
			}

			& > a {

				&:focus {

					& > ul {
						display: block;
					}
				}
			}

			& > ul {
				display: none;

				@media (--width-medium) {
					left: 0;
					position: absolute;
					top: 100%;
				}
			}
		}

		& > li {
			display: block;

			@media (--width-medium) {
				display: inline-block;
			}
		}
	}
}
