/*
  Simple Grid Layout
*/

// Breakpoints

$bp-small:          40.625em !default;      // 650px
$bp-medium:         53.125em !default;      // 850px
$bp-large:          62.5em !default;        // 1000px

// Mixins

@mixin clearfix () {
  &:after {
    content:" ";
    display: block;
    clear: both;
  }
}

// Local variables

$grid-gutter:   1em !default; // 16px

// Width variables in case you want to use them elsewhere

$w-10:          10% !default;
$w-20:          20% !default;
$w-25:          25% !default;
$w-33:          33.333333% !default;
$w-40:          40% !default;
$w-50:          50% !default;
$w-60:          60% !default;
$w-66:          66.666666% !default;
$w-75:          75% !default;
$w-80:          80% !default;
$w-100:         100% !default;

// Grid classes
//
// These classes can also be extended for use without a class-based grid system
// Example:
//    .main-content { @extend .w-66; }
//    .sidebar-content { @extend .w-33; }
//

.grid-layout {
  @include clearfix;
  margin-left: ($grid-gutter * -1);
}

.grid-col {
  float: left;
  padding: $grid-gutter;
  box-sizing: border-box;
}

.w-10,
.w-sm-10 {
  width: $w-10;
}

.w-20,
.w-sm-20 {
  width: $w-20;
}

.w-25,
.w-sm-25 {
  width: $w-25;
}

.w-33,
.w-sm-33 {
  width: $w-33;
}

.w-40,
.w-sm-40 {
  width: $w-40;
}

.w-50,
.w-sm-50 {
  width: $w-50;
}

.w-60,
.w-sm-60 {
  width: $w-60;
}

.w-66,
.w-sm-66 {
  width: $w-66;
}

.w-75,
.w-sm-75 {
  width: $w-75;
}

.w-80,
.w-sm-80 {
  width: $w-80;
}

.w-100,
.w-sm-100 {
  width: $w-100;
}

@media screen and ( min-width: $bp-small ) {

  .w-mid-10 {
    width: $w-10;
  }

  .w-mid-20 {
    width: $w-20;
  }

  .w-mid-25 {
    width: $w-25;
  }

  .w-mid-33 {
    width: $w-33;
  }

  .w-mid-40 {
    width: $w-40;
  }

  .w-mid-50 {
    width: $w-50;
  }

  .w-mid-60 {
    width: $w-60;
  }

  .w-mid-66 {
    width: $w-66;
  }

  .w-mid-75 {
    width: $w-75;
  }

  .w-mid-80 {
    width: $w-80;
  }

  .w-mid-100 {
    width: $w-100;
  }

}

@media screen and ( min-width: $bp-medium ) {

  .w-large-10 {
    width: $w-10;
  }

  .w-large-20 {
    width: $w-20;
  }

  .w-large-25 {
    width: $w-25;
  }

  .w-large-33 {
    width: $w-33;
  }

  .w-large-40 {
    width: $w-40;
  }

  .w-large-50 {
    width: $w-50;
  }

  .w-large-60 {
    width: $w-60;
  }

  .w-large-66 {
    width: $w-66;
  }

  .w-large-75 {
    width: $w-75;
  }

  .w-large-80 {
    width: $w-80;
  }

  .w-large-100 {
    width: $w-100;
  }


}
