// Variables
$dark-gray:  #303030 !default;

// Component Sass
.accordion-header {
  border-bottom: 1px solid $dark-gray;
  font-size: 2em;
  padding: 10px 0 10px 30px;
  position: relative;
  width: 100%;
  text-align: left;
  cursor: pointer;

  &:before {
    content: "+";
    position: absolute;
    left: 5px;
    top: 5px;
  }

  &.is-active {
    &:before {
      content: "-";
    }
  }
}

.js .accordion-content {
  display: none;

  &.is-active {
    border-bottom: 1px solid $dark-gray;
    display: block;
  }
}