// Breakpoints
$bp-small:          40.625em !default;      // 650px
$bp-medium:         53.125em !default;      // 850px
$bp-large:          62.5em !default;        // 1000px

// Variables
$gray: #999;
$white: #fff;

// Component Sass
.tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  overflow: auto;
  position: relative;

  @media ( max-width: $bp-medium ) {
    &:after {
      content: "☰";
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 2;
      pointer-events: none;
    }

    &.m-is-active {
      a {
        position: relative;
      }
    }
  }
}

.tab-item {
  display: block;

  @media ( min-width: $bp-medium ) {
    display: inline-block;
  }

  > a {
    display: block;
    text-decoration: none;
    border: 1px solid $gray;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @media ( min-width: $bp-medium ) {
      position: relative;
      width: auto;
    }
  }

  &.is-active {
    a {
      background: $white;
      position: relative;
      z-index: 1;
      @media ( min-width: $bp-medium ) {
        border-bottom-color: $white;
      }
    }
  }

}

.tab-group {
  border: 1px solid $gray;
  margin-top: -1px;
}

.tab-content {
  padding: 15px;
  position: absolute;
  top: -9999px;
  left: -9999px;

  &.is-active {
    position: static;
  }
}