<!DOCTYPE html>
<html lang="en-us" class="no-js">
  <head>
    <script>
        //var host = "10up.github.io";
        //if ( window.location.host === host && window.location.protocol !== "https:" ) {
        //    window.location.protocol = "https:";
        //}
    </script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="google-site-verification" content="1y3OBnwZEmDD76DYk7YwmOVQ4LrHZ0vpiRJIC-6o5jw" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	{% if page.keywords %}
	<meta name="keywords" content="{{ page.keywords }}">
	{% endif %}
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico" type="image/x-icon">

    <title>
		{% if page.seo-title %}
			{{ page.seo-title }} | Baseline
		{% else %}
			Baseline | A Component Library from 10up
		{% endif %}
    </title>

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-M2DZ36X');</script>
	<!-- End Google Tag Manager -->

	<script>
		document.documentElement.className = document.documentElement.className.replace('no-js', " ");
		document.documentElement.className += ' js ';

		WebFontConfig = {
			google: {
				families: [ 'IBM+Plex+Mono:500','IBM+Plex+Sans:300,400,500','Playfair+Display:900' ]
			},
		};

		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
			'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();
	</script>

	<noscript>
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500|IBM+Plex+Sans:300,400,500|Playfair+Display:900&display=swap" rel="stylesheet">
	</noscript>

	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

	</head>
	<body class="page-{{ page.layout }}">

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2DZ36X"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

		{% include header.html %}

		{{ content }}

		{% include footer.html %}

		<script src="{{ site.baseurl }}/assets/js/bundle.js"></script>

	</body>
</html>
