<!DOCTYPE html>
<html lang="en-us" class="no-js">
  <head>
    <script>
        var host = "10up.github.io";
        if ( window.location.host === host && window.location.protocol !== "https:" ) {
            window.location.protocol = "https:";
        }
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico" type="image/x-icon">

    <title>
      {{ site.name }}
    </title>

	<script>
		document.documentElement.className = document.documentElement.className.replace('no-js', " ");
		document.documentElement.className += ' js ';

		WebFontConfig = {
			google: {
				families: [ 'IBM+Plex+Mono:500','IBM+Plex+Sans:300,400,500','Playfair+Display:900' ]
			},
		};

		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
			'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();
	</script>

	<noscript>
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500|IBM+Plex+Sans:300,400,500|Playfair+Display:900&display=swap" rel="stylesheet">
	</noscript>

	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

	</head>
	<body class="page-{{ page.layout }}">

		{% include header.html %}

		{{ content }}

		{% include footer.html %}

		<script src="{{ site.baseurl }}/assets/js/bundle.js"></script>

	</body>
</html>
