.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

/*
	REQUIRED: Adding the named breakpoint into the DOM for JS hooks
*/
body:before {
  content: "small";
  display: none; }
  @media (min-width: 53.125em) {
    body:before {
      content: "medium"; } }
  @media (min-width: 62.5em) {
    body:before {
      content: "large"; } }

.container {
  max-width: 1000px;
  margin: auto; }

.site-header {
  background: #999;
  padding: .5rem;
  position: relative; }
  .site-header:before, .site-header:after {
    content: " ";
    display: table; }
  .site-header:after {
    clear: both; }

.site-title {
  line-height: 0;
  margin: 0;
  padding: 0 1em 0 0;
  float: left; }

.site-link {
  display: inline-block;
  line-height: 0; }
  .site-link img {
    max-height: 48px; }

@media (min-width: 53.125em) {
  .site-navigation {
    float: right; } }
.site-navigation ul {
  list-style: none;
  padding: 0; }

.site-menu-toggle {
  float: right;
  line-height: 40px;
  font-size: 20px;
  text-decoration: none;
  margin-right: 10px; }
  @media (min-width: 53.125em) {
    .site-menu-toggle {
      display: none; } }

.primary-menu {
  background: #999;
  margin: 0;
  overflow: hidden;
  clear: both;
  display: none; }
  .primary-menu[aria-hidden="true"] {
    width: 0; }
  .primary-menu[aria-hidden="false"], .primary-menu:target {
    display: block; }
  @media (min-width: 53.125em) {
    .primary-menu {
      background: transparent;
      display: block;
      float: right;
      height: auto;
      overflow: visible;
      position: relative;
      top: 0;
      transform: translateX(0);
      width: auto; } }
  @media (min-width: 53.125em) {
    .primary-menu .menu-item {
      display: inline-block;
      position: relative;
      text-align: left; } }
  .primary-menu .menu-item button {
    display: none; }
  .primary-menu .menu-item.menu-item-has-children > a {
    padding-right: 25px;
    position: relative; }
    .primary-menu .menu-item.menu-item-has-children > a:after {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Cpath fill='white' d='M256 352L96 198.406 141.72 160 256 275.188 370.28 160 416 198.406 256 352z'/%3E%3C/svg%3E ");
      background-size: cover;
      content: "";
      height: 20px;
      position: absolute;
      right: 0;
      top: calc(50% - 10px);
      width: 20px; }
  .no-js .primary-menu .menu-item:hover > .sub-menu, .no-js .primary-menu .menu-item:focus > .sub-menu {
    display: block; }
  @media (min-width: 53.125em) {
    .primary-menu .menu-item:hover > .sub-menu, .primary-menu .menu-item:focus > .sub-menu {
      display: block; } }
  .primary-menu .menu-item a {
    display: block;
    padding: 10px 15px; }
  .primary-menu.uses-click .menu-item:hover .sub-menu {
    display: none; }
    .primary-menu.uses-click .menu-item:hover .sub-menu[aria-hidden="false"] {
      display: block; }
  .primary-menu .sub-menu {
    background-color: #999;
    display: none;
    min-width: 125px;
    background: #777; }
    .primary-menu .sub-menu .sub-menu {
      background: #555; }
    @media (min-width: 53.125em) {
      .primary-menu .sub-menu {
        position: absolute; }
        .primary-menu .sub-menu .menu-item {
          display: block; } }
  .primary-menu .child-has-focus > .sub-menu {
    display: block; }

/*# sourceMappingURL=component.css.map */
